body{
    background-color: whitesmoke;
}
#div-names{
    margin-left: 80px;
    margin-top: 40px;
    position:relative;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap:0 40px;
}
.top a{
    padding-left: 10px;  
}
.top label{
    float: right;
    padding-right: 100px;  
    padding-top: 125px;
}
#div-info{
	text-align: center;
    margin-top: 40px;
}
#div-info p{
    text-align: center;
    margin-top: 40px;
    margin-right: 17px;
}
#inline{
	display: inline-block;
	width: 73.333%
}
.insert-button{
	float:right;
	margin-right: 80px;
	margin-top:5px; 
}
.film_form {
    margin-left: 120px;
    margin-top: 40px;
}
.film_form input{
    width: 40%;
    height: 5%;
    border: 1px;
    border-radius: 05px;
}
.button{
    background-color: #A9A9A9; /* Dark Gray */
    border: 1px solid #696969; /* Dim Gray */
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.pic_div{
    margin-left: 120px;
    margin-top: 40px;
    float:left;
    position:relative;
    display:inline-block;
}
.wrapper {
    grid-template-columns: 60% 40%;
    grid-row-gap: 4em;
}
.info_div{
    
    display:inline-block;
    margin-left: 30px;
}
.anonsas{
     text-align: center;
}